
    .mio-form-brevo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



@media (max-width: 600px) {
  .mio-form-brevo {
    display: flex;
    flex-direction: column;
  }
}