
    .mio-form-brevo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sendButton {
  margin: 5px 5px 5px 5px; 
  padding: 4px 32px 4px 32px;
  border: none; border-radius: 8px;
  background: #105990; 
  color: white; font-size: 20px;
}

@media (max-width: 600px) {
  .mio-form-brevo {
    display: flex;
    flex-direction: column;
  }
  .sendButton {
  margin: 15px 5px 5px 5px; 
  padding: 10px 4px 10px 4px;
  border: none; border-radius: 8px;
  background: #105990; 
  color: white; font-size: 20px;
  width: 100%;
  }
}